@model ProductItemModel

<div class="col mb-5">
	<div class="card h-100">
		<!-- Product image-->
		<div class="position-relative">
			@if (Model.IsSale)
			{
				<span class="sale-badge position-absolute top-0 end-0 bg-black text-white px-2 py-1 m-2">Sale</span>
			}
			<img class="card-img-top" src="@Model.ImageUrl" alt="..." />
		</div>
		<!-- Product details-->
		<div class="card-body p-4">
			<div class="text-center">
				<!-- Product name-->
				<h5 class="fw-bolder">@Model.Title</h5>

				@* yıldızları yazdırdık *@

				<div class="text-center">
					@for (int i = 0; i < Model.StarCount; i++)
					{
						<i class="bi bi-star-fill" style="color:gold"></i>
					}
					@for (int i = Model.StarCount; i < 5; i++)
					{
						<i class="bi bi-star" style="color:gold"></i>
					}
				</div>

				@if (Model.IsOption)
				{
					<p>
						$@Model.OldPrice - $@Model.Price
					</p>
					<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
						<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
					</div>

				}
				else
				{

					@if (Model.OldPrice != 0)
					{
						<p><s>$@Model.OldPrice</s> - $@Model.Price</p>

						
					}
					else
					{
						<p>$@Model.Price</p>
					}

					<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
						<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
					</div>
				}

			</div>
		</div>
	</div>
</div>

